body {
    background: #d8b9c3;
    font-family: tahoma;
    color: #fff;
}
#todo-table {
    width: 95%;
    background: #403a6d;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
form {
    display: flex;
}

input {
    width: 70%;
    padding: 20px;
    background: #4d4c7d;
    border: 0;
    font-size: 20px;
    color: #fff;
}
button {
    padding: 20px;
    width: 30%;
    background: rgba(0,0,0,0.3);
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}
li:hover {
    text-decoration: line-through;
    background: rgba(0,0,0,0.1);
}
